#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}

[Unit]
Description           = Loki is a horizontally-scalable, highly-available, multi-tenant log aggregation system inspired by Prometheus
After                 = network-online.target
StartLimitIntervalSec = 300
StartLimitBurst       = 5

[Service]
Type                  = simple
Environment           = "GOMAXPROCS={{ ansible_processor_vcpus | default(ansible_processor_count) }}"
EnvironmentFile       = {{ loki_defaults_directory }}/loki

User                  = {{ loki_system_user }}
Group                 = {{ loki_system_group }}
WorkingDirectory      = {{ loki_storage_dir }}

ExecReload            = /bin/kill -HUP $MAINPID

ExecStartPre          = /bin/chown --recursive {{ loki_system_user }}:{{ loki_system_group }} {{ loki_storage_dir }}
ExecStartPre          = /usr/bin/loki -config.file {{ loki_config_dir }}/loki.yml -verify-config -log.level debug
ExecStart             = /usr/bin/loki $OPTIONS

# LimitNOFILE           = 65000
SyslogIdentifier      = loki
Restart               = always
RestartSec            = 1m

{% if loki_service.restart is defined and loki_service.restart %}
{# restart every ... #}
RuntimeMaxSec         = {{ loki_service.max_runtime | default('7d') }}
{% endif %}

[Install]
WantedBy              = multi-user.target
