#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}
# {{ loki_main_version }} / {{ loki_version }}

target: {{ loki_targets | join(',') }}

auth_enabled: {{ loki_auth_enabled | default('false') | bool | bodsch.core.config_bool(true_as='true', false_as='false') }}

# ballast_bytes: <int> | default = 0]

{% include('loki.d/server.j2') -%}
{% include('loki.d/distributor.j2') -%}
{% include('loki.d/querier.j2') -%}
{% include('loki.d/query_scheduler.j2') -%}
{% include('loki.d/frontend.j2') -%}
{% include('loki.d/query_range.j2') -%}
{% include('loki.d/ruler.j2') -%}
{% include('loki.d/ingester_client.j2') -%}
{% include('loki.d/ingester.j2') -%}
{% include('loki.d/index_gateway.j2') -%}
{% include('loki.d/storage_config.j2') -%}
{% include('loki.d/chunk_store_config.j2') -%}
{% include('loki.d/schema_config.j2') -%}
{% include('loki.d/compactor.j2') -%}
{% include('loki.d/limits_config.j2') -%}
{% include('loki.d/frontend_worker.j2') -%}
{% include('loki.d/table_manager.j2') -%}
{# TODO #}
{# include('loki.d/runtime_config.j2') #}
{% include('loki.d/tracing.j2') -%}
{% include('loki.d/common.j2') -%}
{% include('loki.d/analytics.j2') -%}
{% include('loki.d/memberlist.j2') -%}
