#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}

auth_enabled: {{ loki_auth_enabled | default('false') | bool | ternary('true', 'false') }}

{% include('loki.d/server.j2') %}
{% include('loki.d/distributor.j2') %}
{% include('loki.d/ingester.j2') %}
{% include('loki.d/memberlist.j2') %}
{% include('loki.d/schema_config.j2') %}
{% include('loki.d/storage_config.j2') %}
{% include('loki.d/limits_config.j2') %}
{% include('loki.d/compactor.j2') %}
{% include('loki.d/ruler.j2') %}
