{# https://grafana.com/docs/loki/latest/configuration/#analytics #}
{% if loki_main_version is version_compare('2.5', '>=' ) %}
analytics:
  reporting_enabled: {{ loki_config_analytics.reporting_enabled | bool | bodsch.core.config_bool(true_as='true', false_as='false') }}
{% endif %}
