
{% import 'jinja_macros.j2' as tpl with context -%}
{% if loki_config_ingester_client | default({}) | count > 0 %}
  {# https://grafana.com/docs/loki/latest/configuration/#ingester_client #}
ingester_client:
  {% if loki_config_ingester_client.remote_timeout is defined and
        loki_config_ingester_client.remote_timeout | string | length > 0 %}
  remote_timeout: {{ loki_config_ingester_client.remote_timeout }}
  {% endif %}
  {% if loki_config_ingester_client.pool_config is defined and
        loki_config_ingester_client.pool_config | count > 0 %}
  pool_config:
    {% if loki_config_ingester_client.pool_config.health_check_ingesters is defined %}
    health_check_ingesters: {{ loki_config_ingester_client.pool_config.health_check_ingesters | bool | ternary('true','false') }}
    {% endif %}
    {% if loki_config_ingester_client.pool_config.client_cleanup_period is defined and
          loki_config_ingester_client.pool_config.client_cleanup_period | string | length > 0 %}
    client_cleanup_period: {{ loki_config_ingester_client.pool_config.client_cleanup_period }}
    {% endif %}
    {% if loki_config_ingester_client.pool_config.remote_timeout is defined and
          loki_config_ingester_client.pool_config.remote_timeout | string | length > 0 %}
    remote_timeout: {{ loki_config_ingester_client.pool_config.remote_timeout }}
    {% endif %}
  {% endif %}
  {% if loki_config_ingester_client.grpc_client_config is defined and
        loki_config_ingester_client.grpc_client_config | count > 0 %}
  grpc_client_config:
    {{ tpl.makro_grpc_client_config(loki_config_ingester_client.grpc_client_config) | indent(4, False) }}
  {% endif %}
{% endif %}
