
{% if loki_main_version is version_compare('2.4', '<' ) %}
  {% if loki_config_memberlist | default({}) | count > 0 %}
memberlist:
  {{ loki_config_memberlist | to_nice_yaml(indent=2) | indent(2, False) }}
  {% endif %}
{% endif %}
