{# #}
{% if loki_config_query_range | default({}) | count > 0 %}
  {% import 'jinja_macros.j2' as tpl with context %}

query_range:
  {{ tpl.makro_query_range(loki_config_query_range) | indent(2, False) -}}
{% endif %}
