
{% if loki_config_server | default({}) | count > 0 %}
  {# https://grafana.com/docs/loki/latest/configuration/#server #}
  {% set _log_level = "info" %}
  {% if loki_config_server.log_level is defined and
        loki_config_server.log_level in ["debug", "info", "warn", "error"] %}
    {% set _log_level = loki_config_server.log_level %}
  {% endif %}
  {%- set valid_http_keys = [
    "register_instrumentation", "graceful_shutdown_timeout",
    "http_listen_address", "http_listen_port", "http_path_prefix",
    "http_server_read_timeout", "http_server_write_timeout", "http_server_idle_timeout", "tail_proxy_url" ] -%}
  {%- set valid_grpc_keys = [
    "grpc_listen_address", "grpc_listen_port", "grpc_server_max_recv_msg_size",
    "grpc_server_max_send_msg_size", "grpc_server_max_concurrent_streams" ] -%}
server:
  log_level: {{ _log_level }}
  {# http  #}
  {% for key, v in loki_config_server.items() %}
    {% if key in valid_http_keys %}
      {% set value = v | loki_value %}
      {% if value %}
  {{ key }}: {{ value }}
      {% endif %}
    {% endif %}
  {% endfor %}
  {#   #}
  {% if loki_config_server.http_tls_config is defined and
        loki_config_server.http_tls_config | count > 0 and
        loki_config_server.http_tls_config | loki_tls_certificates %}
  http_tls_config:
    {% if loki_config_server.http_tls_config.cert_file is defined and
          loki_config_server.http_tls_config.cert_file | string | length > 0 %}
    cert_file: {{ loki_config_server.http_tls_config.cert_file }}
    {% endif %}
    {% if loki_config_server.http_tls_config.key_file is defined and
          loki_config_server.http_tls_config.key_file | string | length > 0 %}
    key_file: {{ loki_config_server.http_tls_config.key_file }}
    {% endif %}
    {% if loki_config_server.http_tls_config.client_auth_type is defined and
          loki_config_server.http_tls_config.client_auth_type | string | length > 0 %}
    client_auth_type: {{ loki_config_server.http_tls_config.client_auth_type }}
    {% endif %}
    {% if loki_config_server.http_tls_config.client_ca_file is defined and
          loki_config_server.http_tls_config.client_ca_file | string | length > 0 %}
    client_ca_file: {{ loki_config_server.http_tls_config.client_ca_file }}
    {% endif %}
    {% if loki_config_server.http_tls_config.tls_cipher_suites is defined and
          loki_config_server.http_tls_config.tls_cipher_suites | string | length > 0 %}
    tls_cipher_suites: {{ loki_config_server.http_tls_config.tls_cipher_suites }}
    {% endif %}
    {% if loki_config_server.http_tls_config.tls_min_version is defined and
          loki_config_server.http_tls_config.tls_min_version | string | length > 0 %}
    tls_min_version: {{ loki_config_server.http_tls_config.tls_min_version }}
    {% endif %}
  {% endif %}
  {# grpc #}
  {% for key, v in loki_config_server.items() %}
    {% if key in valid_grpc_keys %}
      {% set value = v | loki_value %}
      {% if value %}
  {{ key }}: {{ value }}
      {% endif %}
    {% endif %}
  {% endfor %}
  {#   #}
  {% if loki_config_server.grpc_tls_config is defined and
        loki_config_server.grpc_tls_config | count > 0 and
        loki_config_server.grpc_tls_config | loki_tls_certificates %}
  grpc_tls_config:
    {% if loki_config_server.grpc_tls_config.cert_file is defined and
          loki_config_server.grpc_tls_config.cert_file | string | length > 0 %}
    cert_file: {{ loki_config_server.grpc_tls_config.cert_file }}
    {% endif %}
    {% if loki_config_server.grpc_tls_config.key_file is defined and
          loki_config_server.grpc_tls_config.key_file | string | length > 0 %}
    key_file: {{ loki_config_server.grpc_tls_config.key_file }}
    {% endif %}
    {% if loki_config_server.grpc_tls_config.client_auth_type is defined and
          loki_config_server.grpc_tls_config.client_auth_type | string | length > 0 %}
    client_auth_type: {{ loki_config_server.grpc_tls_config.client_auth_type }}
    {% endif %}
    {% if loki_config_server.grpc_tls_config.client_ca_file is defined and
          loki_config_server.grpc_tls_config.client_ca_file | string | length > 0 %}
    client_ca_file: {{ loki_config_server.grpc_tls_config.client_ca_file }}
    {% endif %}
    {% if loki_config_server.grpc_tls_config.tls_cipher_suites is defined and
          loki_config_server.grpc_tls_config.tls_cipher_suites | string | length > 0 %}
    tls_cipher_suites: {{ loki_config_server.grpc_tls_config.tls_cipher_suites }}
    {% endif %}
    {% if loki_config_server.grpc_tls_config.tls_min_version is defined and
          loki_config_server.grpc_tls_config.tls_min_version | string | length > 0 %}
    tls_min_version: {{ loki_config_server.grpc_tls_config.tls_min_version }}
    {% endif %}
  {% endif %}
{% endif %}
