{# https://grafana.com/docs/loki/latest/configuration/#tracing #}
{% if loki_config_tracing | default({}) | count > 0 %}

tracing:
  {% if loki_config_tracing.enabled is defined %}
  enabled: {{ loki_config_tracing.enabled | default('false') | bool | ternary('true','false') }}
  {% endif %}
{% endif %}
